.App,
body,
html,
canvas,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.canva {
  margin-top: -40px;
}

body {
  background-color: #141c2d;
}
.title {
  font-family: 'Poppins','Roboto', sans-serif;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: -1.25px;
  line-height: 59.4px;
  text-align: center;
  word-spacing: 0px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}